
<p>
  <strong>@Patronname</strong>
  <%= @marketplace.patron.email.split(@)[0] %>
</p>
<%= image_tag @marketplace.image, width: 100px %> 

<%= link_to 'edit', edit_marketplace_path(@marketplace) %>
<%= link_to 'Back', patron_path %>
