
<p>
  <strong>@Patronname</strong>
  <%= @marketplace.patron.email.split("@")[0] %>
</p>
<% if @marketplace.image.attached? %>
  <%= image_tag @marketplace.image %> 
<% end %>

<%= link_to 'edit', edit_marketplace_path(@marketplace) %>
<%= link_to 'Back', marketplaces_path %>
