
<h1>Welcome @patronname</h1>
<% if current_patron %>
<%= link_to "sign out", destroy_patron_session_path, method: :delete %>
<% else %>
<%= link_to "sign in", new_patron_registration_path %>

<%= link_to "sign up", new_patron_session_path %>
<% end %>
<%= link_to "marketplace", marketplaces_path %>

