
<header class="navbar navbar-fixed-top nabvar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <span><%= link_to "DiddysEats", root_path, id: "logo" %><span>
                <nav class="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                </ul>
            </nav>
        </div>
    </div>
</header>

       