<div id="push"></div>
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <nav>
                <ul>
                    <li><%= link_to "home", "/" %></liv>
                    <li><%= link_to "market", "marketplaces" %></liv>
                    <li><%= link_to "profile", "#" %></liv>  
                </ul>
            </nav>
        </div>
    </footer>