<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <div>
  <% form.label %>
    <%= check_box_tag(:business_role, "click here ") %>
  </form>
</div>
    <%= yield %>
  </body>
</html>
